.main {
  padding: 25px;
}

.all-users {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  align-items: start;
}

.user-card{
  border: 2px solid black;
  padding: 4px;
  border-radius: 25px;
  
}